

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<br />
No account yet? @Html.ActionLink("Sign Up Now!", "SignUp", "Account")
<br />
<br />
Already have an account yet? @Html.ActionLink("Log In Here!", "LogIn", "Account")
