
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hi <b>@Context.User.Identity.Name</b>
    <br />Welcome to the Transportation Tracker!</h2>
<br /><h4>Please use the links in the navigation bar above to check and access routes, based on your adminstrative levels.</h4>
<br />
<br />

@Html.ActionLink("Signout", "SignOut", "Account")
