/****** INSERT INTO SCHEDULES ******/
SELECT TOP 1000 [ScheduleID]
      ,[Sequence]
      ,[ETA]
	  ,[WaypointID]
  FROM [dbe23b13d1adfa41179ccfa7bc00f3296d].[dbo].[Schedules]

  TRUNCATE TABLE Schedules

/******ROUTE: 51 Pearl******/
	/******SCHEDULES FOR WAYPOINT: RIDGE AND PEARL******/
  INSERT INTO Schedules (Sequence, ETA, WaypointID)
  VALUES (1, '8:00', 1)

  INSERT INTO Schedules (Sequence, ETA, WaypointID)
  VALUES (2, '8:30', 1)

  INSERT INTO Schedules (Sequence, ETA, WaypointID)
  VALUES (3, '9:00', 1)


  /****** SCHEDULES FOR WAYPOINT: York and Pearl******/




  /****** SCHEDULES FOR WAYPOINT: West 130th and Pearl******/




  /****** SCHEDULES FOR WAYPOINT: Smith and Pearl******/





/******ROUTE: 45 Ridge******/
	/******SCHEDULES FOR WAYPOINT: Parma Transit Center******/




  /****** SCHEDULES FOR WAYPOINT: Ridge & Brookpark******/




  /****** SCHEDULES FOR WAYPOINT: Denison & Ridge******/




  /****** SCHEDULES FOR WAYPOINT: E 12 & Rockwell******/




  
/******ROUTE: 26 Detroit WAYPOINTS******/
	/******SCHEDULES FOR WAYPOINT: Rocky River Loop******/




  /****** SCHEDULES FOR WAYPOINT: Detroit & Warren******/




  /****** SCHEDULES FOR WAYPOINT: W 65 & Detroit******/




  /****** SCHEDULES FOR WAYPOINT: Superior & W 3******/




    
/******ROUTE: 26 Detroit WAYPOINTS******/
	/******SCHEDULES FOR WAYPOINT: Pearl & Bagley******/




  /****** SCHEDULES FOR WAYPOINT: Front & Bagley******/




  /****** SCHEDULES FOR WAYPOINT: Brookpark Rapid Station******/




  /****** SCHEDULES FOR WAYPOINT: Lorain & Rocky River******/



