/****** INSERT INTO WAYPOINTS  ******/
SELECT TOP 1000 [WaypointID]
      ,[RouteID]
      ,[Intersection]
      ,[Latitude]
      ,[Longitude]
  FROM [dbe23b13d1adfa41179ccfa7bc00f3296d].[dbo].[Waypoints]

  /**** Run these lines together to reset the id's ****/
  DELETE FROM Waypoints
  DBCC CHECKIDENT (Waypoints, RESEED, 0)

  /****** INSERT INTO 51 Pearl WAYPOINTS  ******/
  INSERT INTO Waypoints (RouteID, Intersection, Latitude, Longitude)
  VALUES (1,'Ridge & Pearl',0,0)

  INSERT INTO Waypoints (RouteID, Intersection, Latitude, Longitude)
  VALUES (1,'York & Pearl',0,0)

  INSERT INTO Waypoints (RouteID, Intersection, Latitude, Longitude)
  VALUES (1,'West 130th & Pearl',0,0)


  /****** INSERT INTO 45 Ridge WAYPOINTS  ******/




  /****** INSERT INTO 26 Detroit WAYPOINTS  ******/




  /****** INSERT INTO 86 Rocky River(PRIVATE ROUTE) WAYPOINTS  ******/



