@using Capstone.Web.Models.ViewModel;
@model UserRoutesView


@{
    ViewBag.Title = "CreateRouteSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Route Waypoints</h2>

@*@using (Html.BeginForm("CreateRouteWaypoints", "Routes", FormMethod.Post))
{
    <table class="table-responsive" id="outer-table">
        <tr>
            <td>
                <table class="table-responsive" id="inner-table">
                    <tr>
                        <td>
                            @Html.Label("Waypoint")
                        </td>
                    </tr>
                </table>
            </td>
            <td>

            </td>
        </tr>
    </table>
}*@