@using Capstone.Web.Models.ViewModel;
@model UserRoutesView


@{
    ViewBag.Title = "CreateRouteWaypoints";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Route Waypoints</h2>

@*@using (Html.BeginForm("CreateRouteWaypoints", "Routes", FormMethod.Post))
{
    @Html.AntiForgeryToken()
        <table class="col-sm-6">
            <tr>
                <td>Waypoint @i Intersection</td>
                <td>@Html.TextBoxFor(m => m.Waypoints.Intersection, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td>Longitude</td>
                <td>@Html.TextBoxFor(m => m.Waypoints[i].Longitude, new { @class = "form-control" }) </td>
            </tr>
            <tr>
                <td>Latitude</td>
                <td>@Html.TextBoxFor(m => m.Waypoints[i].Latitude, new { @class = "form-control" }) </td>
            </tr>
        </table>
    <button type="submit" class="btn btn-primary">Submit</button>
}*@
    
                <div class="col-sm-6" id="map" style="width:50%;height:500px;"></div>
                <script>
                    function initMap() {
                        var mapCanvas = document.getElementById("map");
                        var myCenter = new google.maps.LatLng(41.418692, -81.724998);
                        var mapOptions = { center: myCenter, zoom: 10 };
                        var map = new google.maps.Map(mapCanvas, mapOptions);
                        google.maps.event.addListener(map, 'click', function (event) {
                            placeMarker(map, event.latLng);
                        });
                    }
                    function placeMarker(map, location) {
                        var marker = new google.maps.Marker({
                            position: location,
                            map: map
                        });
                        var infowindow = new google.maps.InfoWindow({
                            content: 'Latitude: ' + location.lat() + '<br>Longitude: ' + location.lng()
                        });
                        infowindow.open(map, marker);
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0y_tXi-uq2evnvcZBtvTtR6hIRlk01B8&callback=initMap"
                        type="text/javascript"></script>
}

