@using Capstone.Web.Models.ViewModel;
@model Route

@{
    ViewBag.Title = "CreateRoute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Routes</h2>

<h3>All Existing Routes:</h3>
    @* <table class="table-responsive table-striped table-bordered">
             @foreach (var route in Model.AllRoutes)
            {
                <tr>
                    @route.Key.Name
                </tr>
            }
            <tr>
                <!-- Html.TextBoxFor(m => m.AllRoutes., new { AT_SYMBOL class = "form-control", placeholder = "Add a route" }) -->
            </tr>
        </table> *@
    <button type="submit" class="btn btn-primary">Submit</button>
}
