@using Capstone.Web.Models.ViewModel;

@model UserRoutesView

<div id="route-selector">

        <table id="private-routes">


        </table>

        <table id="public-routes">
            @foreach (var item in Model.AllRoutes)
            {
                <tr>
                    @item.Key.Name
                </tr>
            }
        </table>
    }




</div>

<div id="route-details">
    @foreach (var item in Model.AllRoutes)
    {
        <table id="waypoint-times-table">
 
        </table>
    }

</div>
