@using Capstone.Web.Models;

@model UserRoutesView

<h2>Look at all the pretty routes that don't exist yet!  Hurray! </h2>

<div>
    <table>
        <tr>
            @Model.
        </tr>
    </table>
</div>
